
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3> Kategori </h3>
<br />

<table class="table table-responsive">
    <tr>
        <th> Kategori ID</th>
        <th> Kategori Adı</th>
        <th> Açıklama</th>
        <th> Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Yazılım</td>
        <td>Geleceğin Değiştiricisi</td>
        <td>True</td>
       <td><button class="btn btn-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>2</td>
        <td>SQL</td>
        <td>Zamanın Teknolojisi</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>Eğitim</td>
        <td>HER ŞEY</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>

</table>

<button class="btn btn-info"> Yeni Kategori</button>
<button class="btn btn-warning" >Kategori Listeleri</button>
<button class="btn btn-danger">Kategori Açıklamalar</button>