
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#Profil</p>
<p>#Paggingl</p>
<p>#Mesahlarda sessionl</p>
<p>#oturum yönetimi mimariye taşı</p>
<p>#Token</p>

